@import "tailwindcss";

@theme {
  --color-primary: #1e293b;
  --color-secondary: #64748b;
  --color-accent: #ea580c;

  --color-background: #f8fafc;
  --color-surface: #ffffff;
  --color-border: #e2e8f0;

  --color-text-primary: #0f172a;
  --color-text-secondary: #64748b;
}

@layer utilities {
  .input {
    @apply border border-border rounded-md p-2 w-full;
  }
  .flex-layout {
    @apply flex flex-col items-center gap-8;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
}

@layer base {
  h1 {
    @apply text-4xl font-bold text-center mt-10 text-text-primary;
  }
  /* form {
    @apply flex flex-col gap-8 bg-background p-6 rounded-lg shadow-md;
  } */
}

@layer components {
  .btn {
    @apply bg-primary text-white px-4 py-2 rounded-md hover:bg-secondary transition-colors;
  }
  .formAdmin {
    @apply flex flex-col gap-8 bg-background p-6 rounded-lg shadow-md;
  }
  .formUser {
    @apply flex flex-col gap-4 bg-white/8 p-8 text-surface justify-center items-center;
  }
  /* This will store the background for the user login sign ug and the forgot password */
  .loginBG{
      @apply flex w-screen h-screen bg-[url(.\images\loginBG.png)] bg-no-repeat pl-16 justify-start items-center;
  }
  .btn-o {
    @apply bg-accent text-white px-8 py-2 rounded-md hover:bg-secondary transition-colors;
  }
}
